*{
  margin: 0;
  padding: 0;
}
body {
  font-family: monospace;
  font-size: 1.2rem;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  width: 100%;
  height: 100%;
  border-bottom: 5rem solid #D291BC;
  border-top: 10rem solid #D291BC;
}

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Racing+Sans+One|Telex&display=swap|Poppis');

/*ADDING SOMETHING SO THAT I CAN RESUBMIT*/
button {
  display: none;
}

input {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.robot {
  margin-bottom: 2rem;
  margin-top: -23rem;
}

h1 {
  font-family: 'Telex', sans-serif;
  color: white;
  font-size: 8rem;
  text-align: center;
}

p {
  color: white;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
  margin: 1rem auto;
  padding: 1rem 0em;
  text-align: center;
}

.displayNone {
  display: none;
}
@media only screen and (min-width:768px){
  body {
    border-top: 10rem solid #D291BC;
  }
  h1 {
    font-size: 6rem;
  }
  .robot {
    margin-bottom: 2rem;
    margin-top: -11.5rem;
  }
}
@media only screen and (min-width: 1200px){
  body {
    border-top: 20rem solid #D291BC;
  }
  main {
    width: 1200px;
  }
  h1 {
    font-size: 8rem;
  }
  .robot {
    margin-bottom: 2rem;
    margin-top: -18rem;
  }
}
